body {
    font-weight: 400;
}

.main-container, .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container {
    max-width: 150px;
}


a:hover {
    background: #EBEBEB;
}

a {
    color: #000000;
    border-radius: 0.5em;
}

.form a {
    text-align: center;
    margin-top: 1em;
}

.form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.8em;
}

main.container.p-5 {
    display: flex;
    justify-content: center;
}
¨
#widebutton {
    width: 100%;
}

#symbols, .symbol {
    text-transform: uppercase;
}

/* Table */
td, th {
    text-align: left;
    padding: 0.5em 1em 0 0.5em;
}

thead {
    border-bottom: solid 2px;
}

table {
    margin: auto;
    min-width: 1px;
}

tr td:nth-child(3) {
    text-align: right;
}

.positive {
    background: #c0ffc0;
}

.negative {
    background: #ffcece;
}