body {
    font-weight: 400;
}

.main-container, .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container {
    max-width: 150px;
}


a:hover {
    background: #EBEBEB;
}

a {
    color: #000000;
    border-radius: 0.5em;
}

.form a {
    text-align: center;
    margin-top: 1em;
}

.form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

main.container.p-5 {
    display: flex;
    justify-content: center;
}
¨
#widebutton {
    width: 100%;
}

#symbols {
    text-transform: uppercase;
}