{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}

    <div>
        <p>Cash = ${{ money }}</p>
        <p>Stocks = ${{ total }}</p>
        <p>Total assets = ${{ totalmoney }}</p>
    </div>

        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Total </th>
                </tr>
            </thead>
            <tbody class="dashboardTable">
                {% if stocks %}
                  {% for stock in stocks %}
                    <tr>
                        <td class="symbol">{{ stock['symbol'] }}</td>
                        <td>{{ stock['name'] }}</td>
                        <td>{{ stock['count'] }}</td>
                        <td>${{ stock['price'] }}</td>
                        <td>${{ stock['total'] }}</td>
                    </tr>
                  {% endfor %}
                {% else %}
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                {% endif %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>${{ total }}</td>   
                </tr>
            </tfoot>
        </table>

{% endblock %}