{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    {% if stocks %}
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Symbol</th>
                    <th>Count</th>
                    <th>Value</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                  {% for stock in stocks %}
                    <tr {% if stock['count'] >= 0 %}
                        class="negative">
                        <td>BUY</td>
                        {% else %}
                        class="positive">
                        <td>SELL</td>
                        {% endif %}
                        <td>{{ stock['symbol'] }}</td>
                        <td>{{ stock['count'] }}</td>
                        <td>${{ stock['price'] }}</td>
                        <td>{{ stock['timestamp'] }}</td>
                    </tr>
                  {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}