{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    {% if stocks %}
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Total </th>
                </tr>
            </thead>
            <tbody>
                  {% for stock in stocks %}
                    <tr {% if stock['count'] >= 0 %}
                        class="negative">
                        <td>{{ stock['timestamp'] }}</td>
                        {% else %}
                        class="positive">
                        <td>{{ stock['timestamp'] }}</td>
                        {% endif %}
                        <td class="symbol">{{ stock['symbol'] }}</td>
                        <td>{{ stock['count'] }}</td>
                        <td>${{ stock['price'] }}</td>
                        <td>${{ stock['total'] }}</td>
                    </tr>
                  {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}