<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance</title>
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
    <div class="main-container">
        <h2>Sign up</h2>
        <form action="/signup" method="POST" class="form-container">
            <input type="text" name="username" placeholder="enter username" />
            <input type="password" name="password" placeholder="password" />
            <input type="password" name="password2" placeholder="confirm password" />
            <input type="submit" value="Log in" />
        </form>
        {% if message %}
            <p>{{ message }}</p>
         {% endif %}
    </div>  
</body>
</html>