<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        {% if username %}
            <p>New user created: {{ username | safe }}</p>
        {% endif %}

        {% if message %}
            <p>{{ message }}</p>
        {% endif %}

        <a href="/dashboard">Continue</a>
    </div>
</body>
</html> -->

{% extends "layout.html" %}

{% block title %}
    User created
{% endblock %}

{% block main %}
TODO
{% endblock %}